
[submodule "Lifecycleaware-adapter"]
	path = Lifecycleaware-adapter
	url = https://github.com/ajaypro/Lifecycleaware-adapter.git

[submodule "OAuthLoginFirebase"]
	path = OAuthLoginFirebase
	url = https://github.com/DineshBS44/OAuthLoginFirebase
[submodule "EcommerceMarvel"]
	path = EcommerceMarvel
	url = https://github.com/joanasoaresd/EcommerceMarvel.git
