<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amary.app.data.moviecat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <permission
        android:name="com.amary.app.data.moviecat.provider.READ_WRITE"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name=".utils.services.DailyRmReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name=".utils.services.ReleaseRmReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name=".widget.WidgetFavoriteMovie">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_favorite_movie_info" />
        </receiver>

        <activity
            android:name=".ui.activity.FavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.DetailTvActivity" />
        <activity android:name=".ui.activity.DetailMovieActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".widget.StackWidgetRemote"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".provider.ProviderFavorite"
            android:authorities="com.amary.app.data.moviecat.provider"
            android:exported="true"
            android:permission="com.amary.app.data.moviecat.provider.READ_WRITE"/>

    </application>

</manifest>