<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noteit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteIt">
        <activity
            android:name=".EditNoteActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Edit Note"/>

        <activity
            android:name=".ShowNotesActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Show Note"/>

        <activity
            android:name=".CreateNoteActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Create Note" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>